.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.DS_Store
*.swp
*.swo
node_modules/
*.ipynb_checkpoints
*.env
.env*
sistema-crud/data/01_raw
sistema-crud/data/02_intermediate
sistema-crud/data/03_primary
sistema-crud/data/04_feature
sistema-crud/data/05_model_input
sistema-crud/data/06_models
sistema-crud/data/07_model_output
sistema-crud/data/08_reporting
train.csv
.vscode/
.idea/



