# y
pandas>=2.2.0,<3.0.0
# pyarrow>=14.0.0
Flask
# pydantic
# pydantic-settings
# SQLAlchemy
# psycopg[binary]
# alembic
mlflow
scikit-learn>=1.6.0
# evidently
# python-dotenv
# uvicorn
kedro==0.18.13
kedro-datasets[pandas.CSVDataSet]>=2.0.0
# click
# requests
# pytest
# pytest-cov
# gunicorn

