[server]
port = 8501
address = "0.0.0.0"
headless = true
fileWatcherType = "poll"
runOnSave = true
enableXsrfProtection = false
watchdogPollingIntervalMs = 1000

[browser]
gatherUsageStats = false

[theme]
primaryColor = "#FF4B4B"
backgroundColor = "#FFFFFF"
secondaryBackgroundColor = "#F0F2F6"
textColor = "#262730"
font = "sans serif"

